<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>全国社区排行榜</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {include file="public/css"/}
	<style>
	.orderdetail{background:#f7f7f8;width: 94%;box-sizing:border-box;margin:0 10px;display:flex;flex-direction:column;}
	.orderdetail *{box-sizing:border-box;}
	.address{ display:flex;align-items:center;width: 100%; padding:5px; background: #FFF;}
	.address .img{width:30px}
	.address img{width:25px; height:25px;}
	.address .info{flex:1;display:flex;flex-direction:column;}
	.address .info .t1{ font-weight:bold}

	.express { width:100%;background: #fff; padding:5px;display:flex;align-items:center;margin-top:5px;}
	.express .f1{ width:30px;font-size:20px;color:#999}
	.express .f2{display:flex;flex-direction:column;flex:auto}

	.product{width:100%; padding:5px;background: #FFF;margin-top:5px;}
	.product .content{display:flex;position:relative;width: 100%; padding:5px 0px;border-bottom: 1px #e5e5e5 dashed;position:relative}
	.product .content:last-child{ border-bottom: 0; }
	.product .content img{ width: 70px; height: 70px;}
	.product .content .detail{display:flex;flex-direction:column;margin-left:7px;flex:1}
	.product .content .detail .t1{height: 30px;line-height: 15px;color: #000;}
	.product .content .detail .t2{height: 23px;line-height: 23px;color: #999;overflow: hidden;font-size:13px;}
	.product .content .detail .t3{display:flex;height:15px;line-height:15px;color: #ff4246;}
	.product .content .detail .x1{ flex:1}
	.product .content .detail .x2{ width:50px;font-size:16px;text-align:right;margin-right:4px}
	.product .content .comment{position:absolute;top:32px;right:5px;border: 1px #ffc702 solid; border-radius:5px;background:#fff; color: #ffc702;  padding: 0 5px; height: 23px; line-height: 23px;}

	.orderinfo{ width:100%;margin-top:5px;padding: 5px;background: #FFF;}
	.orderinfo .item{display:flex;width:100%;padding:5px 0;border-bottom:1px dashed #ededed;}
	.orderinfo .item:last-child{ border-bottom: 0;}
	.orderinfo .item .t1{width:100px;}
	.orderinfo .item .t2{flex:1;text-align:right}
	.orderinfo .item .red{color:red}

	.logistics{ width: 94%;  background: #fff; padding: 0 10px;display:flex;flex-direction:column;color: #979797;}
	.logistics .on{color: #23aa5e;}
	.logistics .item{display:flex;width: 96%;  margin: 0 2%;/*border-left: 1px #dadada solid;*/padding:0 0}
	.logistics .item .f1{ width:30px;position:relative}
	/*.logistics img{width: 15px; height: 15px; position: absolute; left: -8px; top:11px;}*/
	.logistics .item .f1 img{ width: 15px; height: 100%;}

	.logistics .item .f2{display:flex;flex-direction:column;flex:auto;padding:5px 0}
	.logistics .item .f2 .t1{font-size: 15px;}
	.logistics .item .f2 .t1{font-size: 13px;}
	</style>
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card layui-col-md12">
          <div class="layui-card-header">
			<div class="layui-tab layui-tab-brief">
				<ul class="layui-tab-title">
					<li {if input('param.type')==''}class="layui-this"{/if} onclick="location.href='{:url('index')}'">销售排行榜</li>
					<!--<li {if input('param.type')=='1'}class="layui-this"{/if} onclick="location.href='{:url('index')}/type/1'">招商排行榜</li>-->
					<!--<li {if input('param.type')=='2'}class="layui-this"{/if} onclick="location.href='{:url('index')}/type/2'">团队排行榜</li>-->
				
				</ul>
			</div>   
          </div>
          <div class="layui-card-body" pad15>
						<div class="layui-col-md12">
							<div style="float:left;padding-bottom:10px">
								<button class="layui-btn layui-btn-primary layuiadmin-btn-list" onclick="location.href='{:url('index')}/excel/1/type/{$Request.param.type}'+urlEncode(datawhere)">导出</button>
									
								<!--<button class="layui-btn layui-btn-primary layuiadmin-btn-list" onclick="monthfh()">月奖</button>	-->
								<!--<button class="layui-btn layui-btn-primary layuiadmin-btn-list" onclick="seasonfh()">季奖</button>-->
								<!--<button class="layui-btn layui-btn-primary layuiadmin-btn-list" onclick="yearfh()">年奖</button>	-->
								<!--<button class="layui-btn layui-btn-primary layuiadmin-btn-list" onclick="fhfh()">分红</button>	-->
									
									
							</div>
							<div class="layui-form" style="float:right;text-align:right;padding-bottom:10px">
    							<!--<div class="layui-inline">-->
    							<!--	<label class="layui-form-label" style="width:30px">分类</label>-->
    							<!--	<div class="layui-input-block" style="width:120px;margin-left:60px;text-align:left">-->
    							<!--		<select name="cid">-->
    							<!--			<option value="">全部</option>-->
    							<!--			{foreach $clist as $c}<option value="{$c['id']}" {if $c['id']==input('param.cid')}selected{/if}>{$c['name']}</option>{/foreach}-->
    							<!--		</select>-->
    							<!--	</div>-->
    							<!--</div>-->
								<div class="layui-inline">
									<label class="layui-form-label" style="width:60px;">年份</label>
									<div class="layui-input-block" style="width:100px;margin-left:90px;text-align:left">
										<select name="year">
											<option value="{:date('Y')}">{:date('Y')}</option>
											<option value="{:intval(date('Y')-1)}">{:intval(date('Y')-1)}</option>
											<option value="{:intval(date('Y')-2)}">{:intval(date('Y')-2)}</option>
											<option value="{:intval(date('Y')-3)}">{:intval(date('Y')-3)}</option>
											<option value="{:intval(date('Y')-4)}">{:intval(date('Y')-4)}</option>
											<option value="{:intval(date('Y')-5)}">{:intval(date('Y')-5)}</option>
											<option value="{:intval(date('Y')-6)}">{:intval(date('Y')-6)}</option>
											<option value="{:intval(date('Y')-7)}">{:intval(date('Y')-7)}</option>
											<option value="{:intval(date('Y')-8)}">{:intval(date('Y')-8)}</option>
											<option value="{:intval(date('Y')-9)}">{:intval(date('Y')-9)}</option>
											<option value="{:intval(date('Y')-10)}">{:intval(date('Y')-10)}</option>
										</select>
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label" style="width:60px;">月份</label>
									<div class="layui-input-block" style="width:100px;margin-left:90px;text-align:left">
										<select name="month">
											<option value="">全部</option>
											<option value="1"  {if $month=='01'}selected{/if}>1月</option>
											<option value="2" {if $month=='02'}selected{/if}>2月</option>
											<option value="3" {if $month=='03'}selected{/if}>3月</option>
											<option value="4" {if $month=='04'}selected{/if}>4月</option>
											<option value="5" {if $month=='05'}selected{/if}>5月</option>
											<option value="6" {if $month=='06'}selected{/if}>6月</option>
											<option value="7" {if $month=='07'}selected{/if}>7月</option>
											<option value="8" {if $month=='08'}selected{/if}>8月</option>
											<option value="9" {if $month=='09'}selected{/if}>9月</option>
											<option value="10" {if $month=='10'}selected{/if}>10月</option>
											<option value="11" {if $month=='11'}selected{/if}>11月</option>
											<option value="12" {if $month=='12'}selected{/if}>12月</option>
											
										</select>
									</div>
								</div>

    							<div class="layui-inline">
    								<label class="layui-form-label" style="width:30px">季度</label>
    								<div class="layui-input-block" style="width:120px;margin-left:60px;text-align:left">
    									<select name="rank_date">
    										<option value="">全部</option>
    								    	<option value="1" {if '1'==input('param.rank_date')}selected{/if}>第一季</option>
    									    <option value="2" {if '2'==input('param.rank_date')}selected{/if}>第二季</option>
    									    <option value="3" {if '3'==input('param.rank_date')}selected{/if}>第三季</option>
    								    	<option value="4" {if '4'==input('param.rank_date')}selected{/if}>第四季</option>
    									</select>
    								</div>
    							</div>
    							<!--<div class="layui-inline">-->
    							<!--	<label class="layui-form-label" style="width:30px">等级</label>-->
    							<!--	<div class="layui-input-block" style="width:120px;margin-left:60px;text-align:left">-->
    							<!--		<select name="lvtype">-->
    							<!--	    	<option value="1" {if '1'==input('param.lvtype')}selected{/if}>金会员以上</option>-->
    							<!--		    <option value="2" {if '2'==input('param.lvtype')}selected{/if}>股东</option>-->
    							<!--		</select>-->
    							<!--	</div>-->
    							<!--</div>-->
						    	<div class="layui-inline">
									<label class="layui-form-label" style="width:60px;">时间</label>
									<div class="layui-input-block" style="width:180px;margin-left:90px">
										<input type="text" name="ctime" id="ctime" autocomplete="off" class="layui-input">
									</div>
								</div>
								<!--<div class="layui-inline">-->
    				<!--				<label class="layui-form-label" style="width:30px">等级</label>-->
    				<!--				<div class="layui-input-block" style="width:120px;margin-left:60px;text-align:left">-->
    				<!--					<select name="levelid">-->
    				<!--						<option value="">全部</option>-->
    				<!--						{foreach $levellist as $lv}<option value="{$lv['id']}" {if $lv['id']==input('param.levelid')}selected{/if}>{$lv['name']}</option>{/foreach}-->
    				<!--					</select>-->
    				<!--				</div>-->
    				<!--			</div>-->
								<div class="layui-inline">
									<button class="layui-btn layuiadmin-btn-replys" lay-submit="" lay-filter="LAY-app-forumreply-search">
										<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="layui-col-md12">
							<table class="layui-table" lay-skin="line" lay-size="lg">
								<!-- <colgroup>
									<col width="150">
									<col width="200">
									<col width="200">
									<col>
								</colgroup> -->
								<thead>
									<tr>
										<!--<th>总会员数量：<span id="total_num" style="font-weight:bold"></span></th>-->
										<th>总销售金额：<span id="total_totalprice" style="font-weight:bold"></span></th>
										<th>总商品成本：<span id="total_chengben" style="font-weight:bold"></span></th>
									</tr> 
								</thead>
								<!-- <tbody>
									<tr>
										<td id="total_num"></td>
										<td id="total_totalprice"></td>
										<td id="total_chengben"></td>
										<td id="total_lirun"></td>
									</tr>
								</tbody> -->
							</table>
						</div>
						<div class="layui-col-md12">
							<table id="tabledata" lay-filter="tabledata"></table>
						</div>
          </div>
        </div>
    </div>
  </div>
	{include file="public/js"/}
	<script>
  var table = layui.table;
	var datawhere = {};
	{if input('?param.status') && input('param.status')!==''}
	datawhere['status'] = "{$Request.param.status}";
	{/if}
  //数据表
  var tableIns = table.render({
    elem: '#tabledata'
    ,url: "{$Request.url}" //数据接口
    ,page: true //开启分页
		,autoSort:false
		//,size:'sm'
    ,cols: [[ //表头
			//{type:"checkbox"},
      {field: 'ph', align:"center",title: '排名',width:100,templet:function(d){
			  return '<span style="color:#f55"">'+d.ph+'</span>';
      }},
        {field: 'nickname', title: '会员信息',templet: function(d){
    		if(d.nickname && d.id){
    			return '<img src="'+d.headimg+'" style="height:30px"/>'+d.nickname + '【'+ d.id+'】';
    		}else{
    			return '无';
    		}
    	}},
      {field: 'levelname', title: '会员等级'},
   	  {field: 'totalprice',sort: true, title: '团队业绩'},
   	  
   	  
    ]]
		,done:function(res, curr, count){
			if(curr == 1){
				$('#total_num').html(res.totaldata.num);
				$('#total_totalprice').html(res.totaldata.totalprice);
				$('#total_chengben').html(res.totaldata.chengben);
			}
		}
  });
	//排序
	table.on('sort(tabledata)', function(obj){
		datawhere.field = obj.field;
		datawhere.order = obj.type;
		tableIns.reload({
			initSort: obj,
			where: datawhere
		});
	});
	//日期范围选择
	layui.laydate.render({ 
		elem: '#ctime',
		trigger: 'click',
		range: '~' //或 range: '~' 来自定义分割字符
	});
	//日期范围选择
	layui.laydate.render({ 
		elem: '#paytime',
		trigger: 'click',
		range: '~' //或 range: '~' 来自定义分割字符
	});
	//检索
	layui.form.on('submit(LAY-app-forumreply-search)', function(obj){
		var field = obj.field
		var olddatawhere = datawhere
		datawhere = field
		datawhere.field = olddatawhere.field
		datawhere.order = olddatawhere.order
		tableIns.reload({
			where: datawhere,
			page: {curr: 1}
		});
	})
		

	function monthfh(){
		var html = '';
		
		html += '	<div class="layui-form-item" style="margin-top:40px;">';
		html += '		<label class="layui-form-label" style="width:80px">年份：</label>';
		html += '		<div class="layui-input-inline" style="width:180px">';
		html += '			<select name="year" id="year" style="width:100%;height: 38px;line-height: 38px;border:1px solid #e6e6e6;background-color: #fff;border-radius: 2px;">';
		html += '<option value="2023" >2023</option>';	
		html += '<option value="2024" >2024</option>';	
    	html += '<option value="2025" >2025</option>';	
		html += '			</select>';
		html += '		</div>';
		html += '	</div>';
		html += '	<div class="layui-form-item" style="margin-top:40px;">';
		html += '		<label class="layui-form-label" style="width:80px">月份：</label>';
		html += '		<div class="layui-input-inline" style="width:180px">';
		html += '			<select name="month" id="month" style="width:100%;height: 38px;line-height: 38px;border:1px solid #e6e6e6;background-color: #fff;border-radius: 2px;">';
		html += '<option value="1" >1月</option>';	
		html += '<option value="2" >2月</option>';	
    	html += '<option value="3" >3月</option>';	
		html += '<option value="4" >4月</option>';	
		html += '<option value="5" >5月</option>';	
		html += '<option value="6" >6月</option>';	
		html += '<option value="7" >7月</option>';	
		html += '<option value="8" >8月</option>';	
    	html += '<option value="9" >9月</option>';	
		html += '<option value="10" >10月</option>';	
		html += '<option value="11" >11月</option>';	
		html += '<option value="12" >12月</option>';	
		html += '			</select>';
		html += '		</div>';
		html += '	</div>';
		html+='	<div class="layui-form-item" style="margin-top:40px;margin-right:20px;">';
		html+='		<label class="layui-form-label" style="width:80px">业绩比例：</label>';
		html+='		<div class="layui-input-inline" style="width:200px">';
		html+='			<input type="text" id="yjbili" value="4" class="layui-input"/>';
		html+='		</div>';
		html+='		<div class="layui-form-mid layui-word-aux">成本业绩比例</div>';
		html+='	</div>';
		html+='	<div class="layui-form-item" style="margin-top:40px;margin-right:20px;">';
		html+='		<label class="layui-form-label" style="width:80px">会员人数：</label>';
		html+='		<div class="layui-input-inline" style="width:200px">';
		html+='			<input type="text" id="hybili" value="10" class="layui-input"/>';
		html+='		</div>';
		html+='		<div class="layui-form-mid layui-word-aux">会员人数</div>';
		html+='	</div>';
		var addscoreLayer = layer.open({type:1,area:['500px','400px'],title:false,content:html,shadeClose:true,btn: ['确定', '取消'],
			yes:function(){
				var index = layer.load();
				$.post("{:url('monthfh')}",{year:$('#year').val(),month:$('#month').val(),yjbili:$('#yjbili').val(),hybili:$('#hybili').val()},function(res){
					layer.close(index);
					dialog(res.msg,res.status);
					layer.close(addscoreLayer);
					tableIns.reload()
				})
			}
		})
	}
	function seasonfh(){
		var html = '';
		
		html += '	<div class="layui-form-item" style="margin-top:40px;">';
		html += '		<label class="layui-form-label" style="width:80px">年份：</label>';
		html += '		<div class="layui-input-inline" style="width:180px">';
		html += '			<select name="year" id="year" style="width:100%;height: 38px;line-height: 38px;border:1px solid #e6e6e6;background-color: #fff;border-radius: 2px;">';
		html += '<option value="2023" >2023</option>';	
		html += '<option value="2024" >2024</option>';	
    	html += '<option value="2025" >2025</option>';	
		html += '			</select>';
		html += '		</div>';
		html += '	</div>';
		html += '	<div class="layui-form-item" style="margin-top:40px;">';
		html += '		<label class="layui-form-label" style="width:80px">季度：</label>';
		html += '		<div class="layui-input-inline" style="width:180px">';
		html += '			<select name="season" id="season" style="width:100%;height: 38px;line-height: 38px;border:1px solid #e6e6e6;background-color: #fff;border-radius: 2px;">';
		html += '<option value="1" >第一季</option>';	
		html += '<option value="2" >第二季</option>';	
    	html += '<option value="3" >第三季</option>';	
		html += '<option value="4" >第四季</option>';	
		html += '			</select>';
		html += '		</div>';
		html += '	</div>';
		html+='	<div class="layui-form-item" style="margin-top:40px;margin-right:20px;">';
		html+='		<label class="layui-form-label" style="width:80px">业绩比例：</label>';
		html+='		<div class="layui-input-inline" style="width:200px">';
		html+='			<input type="text" id="yjbili" value="3" class="layui-input"/>';
		html+='		</div>';
		html+='		<div class="layui-form-mid layui-word-aux">业绩比例</div>';
		html+='	</div>';
		html+='	<div class="layui-form-item" style="margin-top:40px;margin-right:20px;">';
		html+='		<label class="layui-form-label" style="width:80px">会员人数：</label>';
		html+='		<div class="layui-input-inline" style="width:200px">';
		html+='			<input type="text" id="hybili" value="10" class="layui-input"/>';
		html+='		</div>';
		html+='		<div class="layui-form-mid layui-word-aux">会员人数</div>';
		html+='	</div>';
		var addscoreLayer = layer.open({type:1,area:['500px','400px'],title:false,content:html,shadeClose:true,btn: ['确定', '取消'],
			yes:function(){
				var index = layer.load();
				$.post("{:url('seasonfh')}",{year:$('#year').val(),rank_date:$('#season').val(),yjbili:$('#yjbili').val(),hybili:$('#hybili').val()},function(res){
					layer.close(index);
					dialog(res.msg,res.status);
					layer.close(addscoreLayer);
					tableIns.reload()
				})
			}
		})
	}	
	function yearfh(){
		var html = '';
		html += '	<div class="layui-form-item" style="margin-top:40px;">';
		html += '		<label class="layui-form-label" style="width:80px">年份：</label>';
		html += '		<div class="layui-input-inline" style="width:180px">';
		html += '			<select name="year" id="year" style="width:100%;height: 38px;line-height: 38px;border:1px solid #e6e6e6;background-color: #fff;border-radius: 2px;">';
		html += '<option value="2023" >2023</option>';	
		html += '<option value="2024" >2024</option>';	
    	html += '<option value="2025" >2025</option>';	
		html += '			</select>';
		html += '		</div>';
		html += '	</div>';
		html+='	<div class="layui-form-item" style="margin-top:40px;margin-right:20px;">';
		html+='		<label class="layui-form-label" style="width:80px">业绩比例：</label>';
		html+='		<div class="layui-input-inline" style="width:200px">';
		html+='			<input type="text" id="yjbili" value="3" class="layui-input"/>';
		html+='		</div>';
		html+='		<div class="layui-form-mid layui-word-aux">业绩比例</div>';
		html+='	</div>';
		html+='	<div class="layui-form-item" style="margin-top:40px;margin-right:20px;">';
		html+='		<label class="layui-form-label" style="width:80px">会员比例：</label>';
		html+='		<div class="layui-input-inline" style="width:200px">';
		html+='			<input type="text" id="hybili" value="30" class="layui-input"/>';
		html+='		</div>';
		html+='		<div class="layui-form-mid layui-word-aux">会员比例</div>';
		html+='	</div>';
		var addscoreLayer = layer.open({type:1,area:['500px','400px'],title:false,content:html,shadeClose:true,btn: ['确定', '取消'],
			yes:function(){
				var index = layer.load();
				$.post("{:url('yearfh')}",{year:$('#year').val(),yjbili:$('#yjbili').val(),hybili:$('#hybili').val()},function(res){
					layer.close(index);
					dialog(res.msg,res.status);
					layer.close(addscoreLayer);
					tableIns.reload()
				})
			}
		})
	}		

	</script>
	{include file="public/copyright"/}
</body>
</html>