<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>模板市场</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/static/admin/layui/css/layui.css?v=20200519" media="all">
<link rel="stylesheet" type="text/css" href="/static/admin/layui/css/modules/formSelects-v4.css?v=20200516" media="all">
<link rel="stylesheet" type="text/css" href="/static/admin/css/admin.css?v=20230532" media="all">
<link rel="stylesheet" type="text/css" href="/static/admin/css/font-awesome.min.css?v=20200516" media="all">
<link rel="stylesheet" type="text/css" href="/static/admin/webuploader/webuploader.css?v=1711611913" media="all">
<link rel="stylesheet" type="text/css" href="/static/imgsrc/designer.css?v=20230426" media="all">
<link rel="stylesheet" type="text/css" href="/static/fonts/iconfont.css?v=20201218" media="all">
<link rel="stylesheet" type="text/css" href="/static/admin/cssv3/iconfont.css?v=20201222" media="all">
<link rel="stylesheet" type="text/css" href="/static/admin/cssv3/cssv3/iconfont.css?v=20201222" media="all">
<link rel="stylesheet" type="text/css" href="/static/admin/cssv3/cssv3/cssv3/iconfont.css?v=20201222" media="all">
<link rel="stylesheet" href="/static/admin/css/new.css">

</head>
<body>
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-card layui-col-md12">
			<div class="layui-card-header"><i class="fa fa-list"></i> 模板市场</div>
			<div class="layui-card-body" pad15>

				<ul class="market-category">
					<li class="on"><a href="/?s=/DesignerMarket/index">全部</a></li>
										<li class=""><a href="/?s=/DesignerMarket/index/cate/生活服务">生活服务</a></li>
										<li class=""><a href="/?s=/DesignerMarket/index/cate/商业服务">商业服务</a></li>
										<li class=""><a href="/?s=/DesignerMarket/index/cate/批发零售">批发零售</a></li>
										<li class=""><a href="/?s=/DesignerMarket/index/cate/房产装修">房产装修</a></li>
										<li class=""><a href="/?s=/DesignerMarket/index/cate/餐饮旅游">餐饮旅游</a></li>
										<li class=""><a href="/?s=/DesignerMarket/index/cate/教育医疗">教育医疗</a></li>
										<li class=""><a href="/?s=/DesignerMarket/index/cate/汽车汽配">汽车汽配</a></li>
										<li class=""><a href="/?s=/DesignerMarket/index/cate/IT科技">IT科技</a></li>
										<li class=""><a href="/?s=/DesignerMarket/index/cate/政务民生">政务民生</a></li>
										<li class=""><a href="/?s=/DesignerMarket/index/cate/同城论坛">同城论坛</a></li>
										<li class=""><a href="/?s=/DesignerMarket/index/cate/其它">其它</a></li>
									</ul>


				<div class="template-list">

					
					<div class="item">
						<h3>水果商城 <span class="use" data-id="4" data-title="水果商城">使用</span></h3>
						<iframe src="/?s=/DesignerPage/preview/id/4" class="iframe"></iframe>
					</div>

					
					<div class="item">
						<h3>知识教育 <span class="use" data-id="5" data-title="知识教育">使用</span></h3>
						<iframe src="/?s=/DesignerPage/preview/id/5" class="iframe"></iframe>
					</div>

					
					<div class="item">
						<h3>水果商城 <span class="use" data-id="6" data-title="水果商城">使用</span></h3>
						<iframe src="/?s=/DesignerPage/preview/id/6" class="iframe"></iframe>
					</div>

					
					<div class="item">
						<h3>端午节会场 <span class="use" data-id="7" data-title="端午节会场">使用</span></h3>
						<iframe src="/?s=/DesignerPage/preview/id/7" class="iframe"></iframe>
					</div>

					
					<div class="item">
						<h3>电话卡销售 <span class="use" data-id="9" data-title="电话卡销售">使用</span></h3>
						<iframe src="/?s=/DesignerPage/preview/id/9" class="iframe"></iframe>
					</div>

					
					<div class="item">
						<h3>美容化妆商城 <span class="use" data-id="10" data-title="美容化妆商城">使用</span></h3>
						<iframe src="/?s=/DesignerPage/preview/id/10" class="iframe"></iframe>
					</div>

					
					<div class="item">
						<h3>旅游出行 <span class="use" data-id="11" data-title="旅游出行">使用</span></h3>
						<iframe src="/?s=/DesignerPage/preview/id/11" class="iframe"></iframe>
					</div>

					
					<div class="item">
						<h3>商城购物 <span class="use" data-id="12" data-title="商城购物">使用</span></h3>
						<iframe src="/?s=/DesignerPage/preview/id/12" class="iframe"></iframe>
					</div>

					
					<div class="item">
						<h3>商城购物A1 <span class="use" data-id="13" data-title="商城购物A1">使用</span></h3>
						<iframe src="/?s=/DesignerPage/preview/id/13" class="iframe"></iframe>
					</div>

					
					<div class="item">
						<h3>好物商城 <span class="use" data-id="14" data-title="好物商城">使用</span></h3>
						<iframe src="/?s=/DesignerPage/preview/id/14" class="iframe"></iframe>
					</div>

									</div>

				<div id="pager">
					<ul class="pagination"><li class="disabled"><span>&laquo;</span></li> <li class="active"><span>1</span></li><li><a href="/DesignerMarket/index?page=2">2</a></li> <li><a href="/DesignerMarket/index?page=2">&raquo;</a></li></ul>				</div>

			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="/static/admin/layui/layui.all.js?v=20210226"></script>
<script type="text/javascript" src="/static/admin/js/jquery-ui.min.js?v=20200228"></script>
<script>
	$(document).on('click','.use',function () {
		var id=$(this).data('id'),title=$(this).data('title');

        layer.prompt({
		  formType: 3,
		  value: title,
		  title: '请输入复制后的模板名称',
		}, function(value, index, elem){
            console.log(id,title,value);

            if(!value){
                return layer.msg('请输入名称');
            }
            $.post('/?s=/DesignerMarket/copy',{id:id,title:value},function (res) {
	            layer.msg(res.msg);

                if(res.status){
                    layer.close(index);
                    setTimeout(function () {
	                    window.location.href="/?s=/DesignerPage/index";
                    },1500)
                }
            })

		});

    })
</script>

<script type='text/javascript'>

</script></body>
</html>