<link rel="stylesheet" type="text/css" href="__STATIC__/admin/layui/css/layui2.css?v=20200516" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/layui/css/modules/formSelects-v4.css?v=20200516" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/admin2.css?v=20210826" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/font-awesome.min.css?v=20200516" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/webuploader/webuploader.css?v={:time()}" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/imgsrc/designer2.css?v=20230119" media="all">
<link rel="stylesheet" type="text/css" href="__STATIC__/fonts/iconfont.css?v=20201218" media="all">